
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

ul {
    padding: 0;
}

button {
    padding: 0.9rem 0.2rem;
    min-width: 10rem;
    border-radius: $standard-br;
    border: none;
    transition: transform 0.2s linear;
    cursor: pointer;
   

    &.btnGradientBorder {
        position: relative;
        background: transparent;
        padding: 1rem 0.2rem;
    }

    &:hover {
        transform: translateY(-5%);
    }
}

.gradientBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    rect {
        fill: none;
        stroke: url(#gradient);
        stroke-width: 4px;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
    }
}
//   .btn:hover rect{
//     stroke:green;
//   }