@import '../../styles/variables.scss';

.app {
    height: 100vh;
    overflow-y: scroll;
}

.content {
    max-width: 78.75rem;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
    padding-top: 3rem;
}

.wrapper {
    display: flex;

    @include breakpoint($desktop) {
        flex-direction: column;
    }
}
