.app {
    height: 100vh;
    overflow-y: scroll;
}

.content {
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 50px;
    &__interactive {
        padding-left: 40px;
    }
}

.wrapper {
    display: flex;
}
