.app {
    height: 100vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 50px;
    &__interactive {
        padding-left: 40px;
    }
}

.wrapper {
    width: 80%;
}

.blue {
    button {
        background: blue;
    }
}

.red {
    button {
        background: red;
    }
}

.green {
    border: 1px solid yellowgreen;

    button {
        background: green;
        border-radius: 20px;
    }
}