@import '../../../styles/variables.scss';

.iconButton {
    position: relative;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $standard-br;

    svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    span {
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        z-index: 1;
        border-radius: 50%;
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}