@import '../../../styles/variables.scss';

.pillarBar {
    &__list {
        list-style: none;
        display: flex;

        li:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__wrap {
        border-radius: $standard-br;
        height: 8rem;
        width: 2rem;
        padding: 0.3rem;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    &__column {
        position: absolute;
        bottom: 0.2rem;
        width: 65%;
        border-radius: 0.4rem;
    }

    &__text {
        font-size: 0.9rem;
    }
}