@import '../../styles/variables.scss';


.interfaceBoard {
    height: $height;
    width: 100%;
    padding: $padding;
    border-radius: $standard-br;

    display: flex;
    justify-content: space-between;

    @include breakpoint($tablet) {
        flex-direction: column;
        align-items: center;
    }
}

.interfaceBoardColumn {
    width: 49%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($tablet) {
        width: 100%;
    }

    &--top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1.5rem;
        margin-bottom: 2rem;

        @include breakpoint($tablet) {
            justify-content: center;
        }
    }

    &--buttons {
        @include breakpoint($tablet) {
            margin-right: 2rem;
        }
    }
}

