@import '../../styles/variables.scss';

.colorPanel {
    width: 100%;
    padding: $padding;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: $standard-br;

    h1 {
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
    }
    
    ul {
        display: flex;

        li {
            list-style: none;
        }
    }
}

.inputColor {
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
}

.inputBar,
.designBar {
    margin-bottom: 0.5rem;
}

.designBar,
.buttonsBar {
    @include breakpoint($mini-mobile) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        select {
            margin: 0.7rem 0;
        }

        .buttonColor {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

.inputBar {
    ul {
        @include breakpoint($mobile) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    
}

.buttonsReset {
    margin-left: 1.5rem;
}
