@import '../../styles/variables.scss';

.colorPanel {
    width: 100%;
    padding: $padding;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: $standard-br;

    h1 {
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
    }
    
    ul {
        display: flex;

        li {
            list-style: none;
        }
    }
}

.inputColor {
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
}

.inputBar,
.designBar {
    margin-bottom: 0.5rem;
}

.buttonsReset {
    margin-left: 1.5rem;
}

.flat {
    // &.colorPanel {
    //     border: 1px solid grey;
    // }

    
}

.neuromorphic {
    &.colorPanel {
        box-shadow: $shadowOut;
    }

    button {
        box-shadow: $shadowOut;
    }
}
